table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .background-verde{
    background-color: greenyellow;
  }

  .background-plomo{
    background-color: lightgray;
  }
  
